<p-card header="Bienvenido a nuestra aplicación">
  <p>Esta es nuestra página de presentación del reto tecnico. Aquí puedes encontrar enlaces útiles para nuestra
    aplicación:</p>
  <ul>
    <li><p-button label="Código Fuente jdk 11" (click)="ir('codigo')"></p-button></li>
    <li><p-button label="Código Fuente jdk 21 - Hexagonal Architecture" (click)="ir('githubv21')"></p-button></li>
    <li><p-button label="Diagrama" (click)="ir('diagrama')"></p-button></li>
    <li><p-button label="Descarga H2" (click)="ir('h2')"></p-button></li>
    <li><p-button label="DescargaLib para script" (click)="ir('lib')"></p-button></li>
    <li><p-button label="Perfil Github" (click)="ir('github')"></p-button></li>
  </ul>
</p-card>

